<div class="text"><b>Demo Video Call</b></div>

<div class="text">Copy ID and send for friend : <b><span id="idConnect"></span></b></br></div>
<div id="group-video">
  <video id="myvideo" controls></video></br></br>
  <video id="friendvideo" controls></video></br></br>
</div>
<div class="row">
  <div class="input-group input-group-sm col-sm-10 mb-3 mt-4 ml-2 mr-2">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Connect with ID of friend:</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" id="incoming" aria-describedby="inputGroup-sizing-sm">
  </div>
</div>
<button type="button" class="btn btn-outline-info ml-2" id="div-connect">Call Friend</button>